body{
    text-align: left;
    background-color: rgba(100, 100, 100, 0.08);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 22px;
}
h1{
    font-size: 42px;
    background-color: rgba(100, 100, 100, 0.20);
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    font-size: 30px;
    background-color: rgba(100, 100, 100, 0.20);
    margin: 0px;
    padding-top: 44px;
    padding-bottom: 10px;
}

p{
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

p1{
    margin: 0px;
    padding-top: 45px;
    padding-bottom: 45px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}




